doctype html
html
  head
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    block head
  body
    block content
    .container-fluid
      h6.text-right
        a(href='/release.txt', target='_blank') Release 2.3.0
    block js

